html,body {
	font-family: StagSans;
	font-size: 17px;
	font-weight: 300;
	line-height: 26px;
}


.bg1{
    background-image: url(../images/Banner_mage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 100px 20px;
}
.aster-logo-white {
    width: 239px;
    height: 239px;
  }
  .aster-logo-white img{
    object-fit: contain;
    height: inherit;
    width: 100%;
}

.adult-paediatric-b {
    color: #FFFFFF;
    font-family: Titillium;
    font-size: 27px;
    letter-spacing: 1.28px;
    line-height: 36px;
    text-align: left;
  }
  .haematology-oncolo {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 24px;
    letter-spacing: 3.59px;
    line-height: 34px;
    width: 599px;
    text-align: left;
    margin-top: 30px;
  }
  .book{
    background-color: #DD5A6A;
    border-radius: 3.2px;
    margin-top: 30px;
    border: 0;
    color: #fff;
    padding:7px 20px
  }

  .enquirebox{
      background-color: #fff;
      padding: 30px;
      width: 450px;
      margin: 30px auto;
  }






.input-container {
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    width: 392px;
    padding: 20px;
    height: 85px;
    font-family: Roboto, sans-serif;
    display: inline-block;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}
.robimg {
    width: 32px;
    display: inline;
    margin-left: 0;
    float: right;
    margin-right: 12px;
}


.recaptcha {
    font-size: 10px;
    position: relative;
    bottom: -32px;
    float: right;
    right: -45px;
}
.rectangle1{
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
}


.rectangle1::before{
    content: "";
    background-color: #1E58A4;
    border-radius: 4px;
    opacity: 0.1950334821428572;
    width: 140px;
    height: 140px;
    position: absolute;
    /* bottom: 295px; */
    z-index: 0;
    clear: both;
    left: 318px;
    display: block;
    top: -23px;
  }

  .rectangle1::after {
    content: "";
    display: block;
    background-color: #21B28A;
    border-radius: 4px;
    opacity: 0.1950334821428572;
    width: 77px;
    height: 77px;
    position: absolute;
    bottom: -26px;
    z-index: -1;
    clear: both;
    left: -23px;
  }

  .pad-100{
      padding-top: 100px;
      padding-bottom: 100px;
  }


  .title1{
      background-image:linear-gradient( to right, #2EC4B8, #6078EA);
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 20px;
  }
  /* .pad-15{
      padding: 15px;
  } */

  .green{
      color: #22B78E;
  }
  .docbox{
    background-color: #F9F9FF;
    border-radius: 4px;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .docimg{
      width: 200px;
      margin-bottom: 30px;
      margin-top: 10px;
  }
  .blue{
      color: #1D5AA6;
  }
  .text2{
      color: #1d5ba68e;
      font-size: 14px;
  }

  .morebtn{
    background-image:linear-gradient( to right, #2EC4B8, #6078EA);
    padding: 7px 20px;
    border-radius: 4px;
    border: 0;
    color: #fff;
  }

  .list1{
      margin: 0;
      padding: 0;
  }
  .list1 li{
      list-style-type: none;
      padding-bottom: 10px;
      display: flex;
  }
  .list1 li .plus{
    color: red;
    background-color: #ddd;
    border-radius: 50%;
    width: 20px;
    font-size: 10px;
    height: 20px;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    margin-top: 2px;
  }



  .warningbox{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 7px 0 rgb(187 165 228 / 20%);
    height: 200px;
    margin-bottom: 20px;
  }
    .warningbox img{
        width: 45px;
        margin-bottom: 20px;
    }
    .list2 li{
        display: flex;
    list-style-type: none;
    }
    .list2 li .tick{
        color: #21B28A;
        margin-right: 10px;
        margin-top: 6px;
    }
 
    button:focus{
        outline: none;
        box-shadow: none;
    }

    /* accordian */

    .accrd .btn-link:hover{
        text-decoration: none;
    }
    .accrd .btn-link{
        font-size: 20px;
        color: #1E58A4;
        text-align: left;
        width: 100%;
        font-weight: 600;
    }
    .accrd .card{
        border: 0;
    }
    .accrd .card-header{
        background: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
    
    }


/* footer */
    footer{
        background-color:#272727 ;
        padding: 100px 20px;
        color: #fff;
    }
    .foot-list{
        margin: 0;
        padding: 0;
    }
    .foot-list li{
        list-style-type: none;
        display: inline-block;
        padding: 5px;
    }
    footer p{
        font-size: 14px;
    }
  
 
    /* up arrow */
#button {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgb(187 165 228 / 20%);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    border: 1px solid #ddd;
    bottom: 139px;
    right: 57px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button .fa-arrow-up{
    color: #1E58A4;
  }
  #button::after {
    content: "";
    /* font-family: FontAwesome; */
    /* font-weight: normal; */
    /* font-style: normal; */
    /* font-size: 2em; */
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #1E58A4;
    color: #fff;
  }
  #button:active {
    background-color: #1E58A4;
    color: #fff;
  }
  #button:active .fa-arrow-up ,#button:hover .fa-arrow-up{
      color: #fff;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }



  /* testimonial */
  .testi .card {
	margin: 0 auto;
	border: none;
}
.testi .card .carousel-item {
	min-height: 225px;
}
.testi .card .carousel-caption {
	padding: 0;
	right: 18px;
	left: 18px;
	top: 15px;
	color: #3d3d3d;
    background-color: #fff;
    box-shadow: 2px 0 10px 0 rgb(187 165 228 / 20%);
	min-height:175px;
	padding: 15px;
}
.testi .card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
}
.testi .card .carousel-caption .col-sm-9 {
	text-align: left;
}
.testi .card .carousel-control-prev, .card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
}
.testi .carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #ddd;
	font-size: 26px;
	height: 32px;
	line-height: 32px;
	width: 32px;
}
.testi .rounded-circle {
    border-radius: 50%!important;
    width: 70px;
    height: 70px;
}
.testi .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
}
.testi .carousel-control-prev {
    top: -400px;
    right: 45px;
    left: auto;
}
.testi .carousel-control-next {
	top: -400px;
    right: 0;
}

.testi .carousel-caption h2 {
	font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
}
.testi .carousel-caption h2 span {
	color: #cd3a54;
}






