@media only screen and (max-width: 768px){
    .bg1{
        height: auto;
        padding: 50px 15px;
    }
    .aster-logo-white {
        width: 150px;
        height: 150px;
    }
    .list2{
        padding-left: 0;
    }
    .pad-100{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .enquirebox{
        width: auto;
    }
    .accrd .btn-link{
        display: flex;
        word-break: break-word;
    width: 100%;
    white-space: initial;

    }
    .accrd .btn-link span{
        margin-left: 10px;
    }
    .adult-paediatric-b{
        font-size: 24px;
    }
    .haematology-oncolo{
        width: auto;
        font-size: 22px;
    }
    .rectangle1 {
        position: relative;
        width: 80%;
        text-align: center;
        margin: auto;
        margin-bottom: 60px;
    }
    .rectangle1::before {
        content: "";
        background-color: #1E58A4;
        border-radius: 4px;
        opacity: 0.1950334821428572;
        width: 140px;
        height: 140px;
        position: absolute;
        left: auto;
        /* bottom: 295px; */
        z-index: -1;
        clear: both;
        display: block;
        right: -23px;
        top: -23px;
    }
    #button {
        right: 25px;
    }
    .robimg {
        width: 32px;
        display: inline;
        margin-left: 0;
        float: right;
        margin-right: 12px;
    }
    .input-container {
        background-color: #f9f9f9;
        border: 1px solid #d3d3d3;
        width: auto;
        padding: 15px;
        height: 85px;
        font-family: Roboto, sans-serif;
        display: block;
    }
    .recaptcha {
        font-size: 10px;
        margin-left: 0px;
        position: relative;
        bottom: 0px;
        float: right;
    }
}


@media (min-width: 767px) and (max-width: 991px) {
    .testi .card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}
@media (min-width: 576px) and (max-width: 768px) {
   
    .testi .carousel-caption {
	position: relative;
}
.testi .card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.testi .card .carousel-caption img {
	margin: 0 auto;
}
.testi .card .carousel-caption h3, .card .carousel-caption small {
	text-align: center;
}
.testi .carousel-control-prev {
	left: 35%;
	top: 105%;
}
.testi .carousel-control-next {
	right: 35%;
	top: 105%;
}
}


@media (min-width: 320px) and (max-width: 575px) {
    .testi .carousel-caption {
	position: relative;
}
.testi .card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.testi .card .carousel-caption img {
	margin: 0 auto;
}
.testi .carousel-control-prev {
	left: auto;
    right: 40px;
    top: -820px;
}
.testi .carousel-control-next {
    left: auto;
    right: 0px;
    top: -820px;
}
.testi .card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}
